.footer {
  background-color: $pink-brown;
  &-wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    display: block;
    width: 100px;
    height: 33px;
    margin-left: 5px;
    background-image: url('../img/footer/footer-logo.svg');
    background-repeat: no-repeat;
  }
  &-menu {
    width: 795px;
    display: flex;
    justify-content: space-between;
    color: $white;
    @media (max-width: 992px) {
      order: 1;
      gap: 20px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    &__link {
      font-size: 16px;
      line-height: 20px;
      &:hover {
        @media (min-width: 992px) {
          opacity: 0.7;
        }
      }
    }
  }
  &-social{
    margin-right: -5px;
    display: flex;
    justify-content: space-between;
    &__item:not(:last-child) {
      margin-right: 19px;
    }
    &__link {
      &:hover {
        @media (min-width: 992px) {
          opacity: 0.7;
        }
      }
    }
  }
}